Repository tectonic-typesetting/tectonic: changes, and which Codecov flags are due for each by the changed paths.
All: tectonic, bridge_core, bridge_flate, bridge_fontconfig, bridge_freetype2, bridge_graphite2, bridge_harfbuzz, bridge_icu, bridge_png, bundles, cfg_support, dep_support, docmodel, engine_bibtex, engine_spx2html, engine_xdvipdfmx, engine_xetex, errors, geturl, io_base, pdf_io, status_base, xdv, xetex_format, xetex_layout

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, diff, components, condensed_footer"
component_management:
  individual_components:
    - component_id: tectonic
      paths:
        - "src/**"
    - component_id: bridge_core
      paths:
        - "crates/bridge_core/**"
    - component_id: bridge_flate
      paths:
        - "crates/bridge_flate/**"
    - component_id: bridge_fontconfig
      paths:
        - "crates/bridge_fontconfig/**"
    - component_id: bridge_freetype2
      paths:
        - "crates/bridge_freetype2/**"
    - component_id: bridge_graphite2
      paths:
        - "crates/bridge_graphite2/**"
    - component_id: bridge_harfbuzz
      paths:
        - "crates/bridge_harfbuzz/**"
    - component_id: bridge_icu
      paths:
        - "crates/bridge_icu/**"
    - component_id: bridge_png
      paths:
        - "crates/bridge_png/**"
    - component_id: bundles
      paths:
        - "crates/bundles/**"
    - component_id: cfg_support
      paths:
        - "crates/cfg_support/**"
    - component_id: dep_support
      paths:
        - "crates/dep_support/**"
    - component_id: docmodel
      paths:
        - "crates/docmodel/**"
    - component_id: engine_bibtex
      paths:
        - "crates/engine_bibtex/**"
    - component_id: engine_spx2html
      paths:
        - "crates/engine_spx2html/**"
    - component_id: engine_xdvipdfmx
      paths:
        - "crates/engine_xdvipdfmx/**"
    - component_id: engine_xetex
      paths:
        - "crates/engine_xetex/**"
    - component_id: errors
      paths:
        - "crates/errors/**"
    - component_id: geturl
      paths:
        - "crates/geturl/**"
    - component_id: io_base
      paths:
        - "crates/io_base/**"
    - component_id: pdf_io
      paths:
        - "crates/pdf_io/**"
    - component_id: status_base
      paths:
        - "crates/status_base/**"
    - component_id: xdv
      paths:
        - "crates/xdv/**"
    - component_id: xetex_format
      paths:
        - "crates/xetex_format/**"
    - component_id: xetex_layout
      paths:
        - "crates/xetex_layout/**"

Add a doc page on VS Code integration
  docs/src/howto/vs_code_integration/index.md
Due: none

remove dollar signs
  docs/src/getting-started/first-document.md
  docs/src/getting-started/install.md
  docs/src/getting-started/unicode.md
  docs/src/index.md
  docs/src/installation/index.md
  docs/src/v2cli/bundle.md
Due: none

Port history variable
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-errors.c
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port dvi_* variables
  crates/engine_xetex/src/c_api/dvi.rs
  crates/engine_xetex/src/c_api/globals.rs
  crates/engine_xetex/src/lib.rs
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port write_to_dvi
  crates/engine_xetex/src/c_api/dvi.rs
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port dvi_swap, dvi_out
  crates/engine_xetex/src/c_api/dvi.rs
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port cur_s variable and deinitialize_shipout_variables
  crates/engine_xetex/src/c_api/dvi.rs
  crates/engine_xetex/src/lib.rs
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port dvi_four, dvi_two, and dvi_pop
  crates/engine_xetex/src/c_api/dvi.rs
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex-synctex.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port last_bop variable
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Don't publish, build once
  .github/actions/build-and-test/action.yml
  .github/workflows/build_and_test.yml
  .github/workflows/ci.yml
Due: none

Port show_token_list
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port halt_on_error_p, error_count, and use_err_help variables. Alro port show_context.
  crates/bridge_core/src/lib.rs
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/src/c_api/errors.rs
  crates/engine_xetex/src/c_api/output.rs
  crates/engine_xetex/xetex/xetex-engine-interface.c
  crates/engine_xetex/xetex/xetex-errors.c
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: bridge_core, engine_xetex

Port base_ptr variable
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port hi_mem_min, mem_end variables
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-linebreak.c
  crates/engine_xetex/xetex/xetex-math.c
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port first_count and half_error_line variables
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port error and post_error_message, as well as help_ptr and help_line variables
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/src/c_api/engine/memory.rs
  crates/engine_xetex/src/c_api/errors.rs
  crates/engine_xetex/src/lib.rs
  crates/engine_xetex/xetex/xetex-errors.c
  crates/engine_xetex/xetex/xetex-ini.c
  crates/engine_xetex/xetex/xetex-linebreak.c
  crates/engine_xetex/xetex/xetex-math.c
  crates/engine_xetex/xetex/xetex-pagebuilder.c
  crates/engine_xetex/xetex/xetex-pic.c
  crates/engine_xetex/xetex/xetex-scaledmath.c
  crates/engine_xetex/xetex/xetex-shipout.c
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex-xetexd.h
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port show_context
  crates/engine_xetex/src/c_api/engine.rs
  crates/engine_xetex/src/c_api/errors.rs
  crates/engine_xetex/xetex/xetex-xetex0.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Port fatal_error
  crates/engine_xetex/src/c_api/errors.rs
  crates/engine_xetex/xetex/xetex-errors.c
  crates/engine_xetex/xetex/xetex_bindings.h
Due: engine_xetex

Drop error-chain dep, switch binary to use `anyhow`
  Cargo.lock
  Cargo.toml
  src/bin/tectonic/compile.rs
  src/bin/tectonic/main.rs
  src/bin/tectonic/v2cli/commands/build.rs
  src/bin/tectonic/v2cli/commands/bundle/mod.rs
  src/bin/tectonic/v2cli/commands/dump.rs
  src/bin/tectonic/v2cli/commands/new.rs
  src/bin/tectonic/v2cli/commands/show.rs
  src/bin/tectonic/v2cli/commands/watch.rs
  src/bin/tectonic/v2cli/mod.rs
  src/config.rs
  src/docmodel.rs
  src/driver.rs
  src/engines/bibtex.rs
  src/errors.rs
  src/lib.rs
  tests/bibtex.rs
  tests/util/mod.rs
Due: tectonic

Add CI for tectonic-on-arxiv
  .github/workflows/ci.yml
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Skip the expensive build and test for now
  .github/workflows/ci.yml
Due: none

fetch-depth 0
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Load s3 dataset
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Put in datasets dir
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Add account id
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Set up pull_request_target CI
  .github/workflows/ci.yml
  .github/workflows/tectonic-on-arxiv.yml
Due: none

For now do it on pr, since we're inside the repo
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Correct var references hopefully
  .github/workflows/tectonic-on-arxiv.yml
Due: none

It is vars context
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Use env var
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Fix URL?
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Pass head commit to action
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Allow dispatch
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Fix strings
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Add defaults
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Use null
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Fix syntax
  .github/workflows/tectonic-on-arxiv.yml
Due: none

Add safety comment/clippy
  crates/mac_core/src/array.rs
  crates/mac_core/src/lib.rs
  src/bin/tectonic/main.rs
  src/bin/tectonic/v2cli/commands/bundle/create.rs
  src/bin/tectonic/v2cli/commands/bundle/mod.rs
  src/bin/tectonic/v2cli/mod.rs
  src/config.rs
  src/docmodel.rs
  src/driver.rs
  src/errors.rs
Due: tectonic

Update docs/src/howto/vs_code_integration/index.md
  docs/src/howto/vs_code_integration/index.md
Due: none
