Repository tectonic-typesetting/tectonic: changes, and which Codecov flags are due for each by the changed paths.
All: tectonic, bridge_core, bridge_flate, bridge_fontconfig, bridge_freetype2, bridge_graphite2, bridge_harfbuzz, bridge_icu, bridge_png, bundles, cfg_support, dep_support, docmodel, engine_bibtex, engine_spx2html, engine_xdvipdfmx, engine_xetex, errors, geturl, io_base, pdf_io, status_base, xdv, xetex_format, xetex_layout

Update docs/src/howto/vs_code_integration/index.md
  docs/src/howto/vs_code_integration/index.md
Due: none

Fix up watchexec handling to not multi-spawn jobs, and handle multiple jobs correctly
  src/bin/tectonic/v2cli/commands/watch.rs
Due: tectonic

Change bundle caching to only re-check remote once per week
  Cargo.lock
  Cargo.toml
  crates/bundles/Cargo.toml
  crates/bundles/src/cache.rs
  src/io/format_cache.rs
Due: tectonic, bundles

Add clock feature
  crates/bundles/Cargo.toml
Due: bundles

Try sending ctrl-c to watchexec test
  Cargo.lock
  Cargo.toml
  tests/executable.rs
Due: none

Fix compile
  tests/executable.rs
Due: none

Improve watchexec handling (#1362)
  src/bin/tectonic/v2cli/commands/watch.rs
Due: tectonic

Remove usage of long-deprecated CARGO_BIN_PATH in favor of CARGO_BIN_EXE_<name>
  tests/executable.rs
  tests/util/mod.rs
Due: none

Remove usage of long-deprecated `CARGO_BIN_PATH` (#1369)
  tests/executable.rs
  tests/util/mod.rs
Due: none

Add Windows ARM64 vcpkg target
  .github/actions/build-and-test/action.yml
  .github/workflows/build_and_test.yml
  Cargo.toml
  dist/vcpkg-triplets/arm64-windows-static-release.cmake
Due: none

bibtex: don't panic on an empty @string macro
  crates/engine_bibtex/src/scan.rs
  tests/bibtex.rs
  tests/bibtex/cites/empty_macro.aux
  tests/bibtex/cites/empty_macro.bbl
  tests/bibtex/cites/empty_macro.bib
  tests/bibtex/cites/empty_macro.blg
Due: engine_bibtex

Remove comment
  tests/bibtex.rs
Due: none

bibtex: don't panic on an empty @string macro (#1372)
  crates/engine_bibtex/src/scan.rs
  tests/bibtex.rs
  tests/bibtex/cites/empty_macro.aux
  tests/bibtex/cites/empty_macro.bbl
  tests/bibtex/cites/empty_macro.bib
  tests/bibtex/cites/empty_macro.blg
Due: engine_bibtex

Change bundle caching to only re-check remote once per week (#1363)
  Cargo.lock
  Cargo.toml
  crates/bundles/Cargo.toml
  crates/bundles/src/cache.rs
  src/io/format_cache.rs
Due: tectonic, bundles

Try dumping bin, swap path order
  .github/actions/build-and-test/action.yml
  .github/actions/pkgconfig-deps/action.yml
Due: none

Just dump the exes
  .github/actions/build-and-test/action.yml
Due: none

pkg-config only, debug
  .github/actions/build-and-test/action.yml
  .github/workflows/build_and_test.yml
Due: none

More debugging
  .github/actions/build-and-test/action.yml
Due: none

Fix glob
  .github/actions/build-and-test/action.yml
Due: none

Fix typo
  .github/actions/build-and-test/action.yml
Due: none

Add failure for artifact
  .github/actions/build-and-test/action.yml
Due: none

Check dlls
  .github/actions/build-and-test/action.yml
Due: none

Try cdb bibtex
  .github/actions/build-and-test/action.yml
Due: none

pdf_io: generate ToUnicode CMap for fonts exposing only a (0,4) cmap subtable
  crates/pdf_io/pdf_io/dpx-tt_cmap.c
Due: pdf_io

pdf_io: add (0,4) to cidtype2.c known_encodings (other half of macOS 0-4 cmap support)
  crates/pdf_io/pdf_io/dpx-cidtype2.c
Due: pdf_io

bundles: concurrently prefetch the cold-cache working set
  crates/bundles/src/cache.rs
  crates/bundles/src/itar.rs
  crates/bundles/src/lib.rs
Due: bundles

dev: add reproducible cold-cache prefetch benchmark
  dev/bench-cold-prefetch.sh
Due: none

bundles: connect range reader even when index is cache-loaded
  crates/bundles/src/itar.rs
Due: bundles

bundles: address review feedback on prefetch (caps + temp cleanup)
  crates/bundles/src/cache.rs
  crates/bundles/src/itar.rs
Due: bundles

prevent slice::from_raw_parts from being passed a null pointer
  crates/bridge_fontconfig/src/font_set.rs
Due: bridge_fontconfig

prevent slice::from_raw_parts from being passed a null pointer (#1380)
  crates/bridge_fontconfig/src/font_set.rs
Due: bridge_fontconfig

Fix pkg-config on Windows
  .github/actions/build-and-test/action.yml
  .github/actions/build-setup/action.yml
  Cargo.lock
Due: none

Fix clippy
  crates/bridge_harfbuzz/src/lib.rs
  crates/bundles/src/cache.rs
  crates/bundles/src/itar.rs
  crates/docmodel/src/document.rs
  crates/engine_spx2html/src/assets.rs
  crates/engine_spx2html/src/specials.rs
  src/bin/tectonic/v2cli/commands/bundle/actions.rs
Due: tectonic, bridge_harfbuzz, bundles, docmodel, engine_spx2html

bundles: connect Itar reader for cached indexes
  crates/bundles/src/itar.rs
Due: bundles

bundles: prefetch retained Itar cache entries
  crates/bundles/src/cache.rs
  crates/bundles/src/cache/prefetch.rs
  crates/bundles/src/itar.rs
  crates/bundles/src/itar/batch.rs
  crates/bundles/src/lib.rs
Due: bundles

pdf_io: support Unicode cmap (0,4) fallbacks
  crates/pdf_io/pdf_io/dpx-cidtype2.c
  crates/pdf_io/pdf_io/dpx-tt_cmap.c
Due: pdf_io

tests: cover cmap (0,4)-only TrueType fonts
  tests/assets/Adobe-Test-UCS4
  tests/assets/Test-H
  tests/assets/cmap04-only.ttf
  tests/assets/generate_cmap04_test_font.py
  tests/tex-outputs.rs
  tests/tex-outputs/cidtype2_cmap04.log
  tests/tex-outputs/cidtype2_cmap04.pdf
  tests/tex-outputs/cidtype2_cmap04.tex
  tests/tex-outputs/cidtype2_cmap04.xdv
  tests/tex-outputs/cmap04_unicode.log
  tests/tex-outputs/cmap04_unicode.pdf
  tests/tex-outputs/cmap04_unicode.tex
  tests/tex-outputs/cmap04_unicode.xdv
Due: none

pdf_io: support fonts with only a Unicode (0,4) cmap (#1377)
  crates/pdf_io/pdf_io/dpx-cidtype2.c
  crates/pdf_io/pdf_io/dpx-tt_cmap.c
  tests/assets/Adobe-Test-UCS4
  tests/assets/Test-H
  tests/assets/cmap04-only.ttf
  tests/assets/generate_cmap04_test_font.py
  tests/tex-outputs.rs
  tests/tex-outputs/cidtype2_cmap04.log
  tests/tex-outputs/cidtype2_cmap04.pdf
  tests/tex-outputs/cidtype2_cmap04.tex
  tests/tex-outputs/cidtype2_cmap04.xdv
  tests/tex-outputs/cmap04_unicode.log
  tests/tex-outputs/cmap04_unicode.pdf
  tests/tex-outputs/cmap04_unicode.tex
  tests/tex-outputs/cmap04_unicode.xdv
Due: pdf_io

bundles: prefetch retained Itar cache entries concurrently (#1379)
  crates/bundles/src/cache.rs
  crates/bundles/src/cache/prefetch.rs
  crates/bundles/src/itar.rs
  crates/bundles/src/itar/batch.rs
  crates/bundles/src/lib.rs
Due: bundles

Path conditions:
  tectonic: any of: src/**
  bridge_core: any of: crates/bridge_core/**
  bridge_flate: any of: crates/bridge_flate/**
  bridge_fontconfig: any of: crates/bridge_fontconfig/**
  bridge_freetype2: any of: crates/bridge_freetype2/**
  bridge_graphite2: any of: crates/bridge_graphite2/**
  bridge_harfbuzz: any of: crates/bridge_harfbuzz/**
  bridge_icu: any of: crates/bridge_icu/**
  bridge_png: any of: crates/bridge_png/**
  bundles: any of: crates/bundles/**
  cfg_support: any of: crates/cfg_support/**
  dep_support: any of: crates/dep_support/**
  docmodel: any of: crates/docmodel/**
  engine_bibtex: any of: crates/engine_bibtex/**
  engine_spx2html: any of: crates/engine_spx2html/**
  engine_xdvipdfmx: any of: crates/engine_xdvipdfmx/**
  engine_xetex: any of: crates/engine_xetex/**
  errors: any of: crates/errors/**
  geturl: any of: crates/geturl/**
  io_base: any of: crates/io_base/**
  pdf_io: any of: crates/pdf_io/**
  status_base: any of: crates/status_base/**
  xdv: any of: crates/xdv/**
  xetex_format: any of: crates/xetex_format/**
  xetex_layout: any of: crates/xetex_layout/**
